<!-- allDoctors.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/doctor_list.css">
    <title>All Doctors</title>
</head>
<body>
    <h1>All Doctors</h1>
    <% allDoctors.forEach(doctorDetails => { %>
        <div>
            <form action="/patient/appointments" method="post">
            <h2 name="name"><%= doctorDetails.name %></h2>
            <p name="speciality">Speciality: <%= doctorDetails.speciality %></p>
            <p name="contact">Contact: <%= doctorDetails.contact %></p>
            <p name="location">Location: <%= doctorDetails.location %></p>
           
                <input type="hidden" name="doctorDetailsId" value="<%= doctorDetails._id %>">
                <button type="submit">Book Appointment</button>
            </form>
        </div>
    <% }) %>
</body>
</html>
